
.base{
   
    background-image: linear-gradient(890deg, black, transparent), url("https://assets.nflxext.com/ffe/siteui/vlv3/df6621a3-890c-4ca0-b698-90bd5152f3d1/0c17621c-4929-4a1e-82fc-9c22e29239d7/CA-en-20240107-trifectadaily-perspective_alpha_website_medium.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


}

.redfont{
    color:red;
    margin-left: 4%;
   
}

.SignInContainer{
    /* margin-top: 15%;  */
    background-color: rgb(0,0,0,0.9);
    color:#f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    min-height:660px;
    width:440px;
    min-width:380px;
   
    
    
   
    
}


.inputs{
    display:flex;
    flex-direction:column;
    row-gap: 1rem;
    opacity: 1;
   
}
.image{
    height: 50%;
}
.redcol{
    margin-top: 6.5%;
    background-color: red;
    height: 50px;;
    border-radius: 4px;
    border:0;
    margin-left: 14%;
    margin-right: 14%;
    font-size: 16px;

}
.op{
    opacity: 1;
}

.help{
margin-left:43%;

}

.entLine{

    display:flex;
    flex-direction: row;
    gap:0.1rem;
    font-size: 13px;;
    margin-left: 14%;
    margin-right: 14%;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.net{
    color:red; 
}

.backGrey{
    background-color:darkgrey;
    /* font-size: 13px;; */
    height:40px;
    opacity: 1;
    border-radius: 4px;
    border:0;
    margin-left: 14%;
    margin-right: 14%;
    display: flex;
    justify-content: space-around;
    padding: 16px 20px 0;
    font-size: 16px;
}

/* // #f3f3f3; */

.NewNetf{
    margin-left: 14%;
    margin-right: 14%;
    font-size: 13px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; ;
    
}

.signintext{
    margin-right:48%;
    font-weight: 500;
}