.banner{
    display: inline-flex;
    width: -webkit-fill-available;
    place-content: center;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 74px;
    color: white;
    padding: 5px;
}

.textb{
    color: white;
}

.textb1{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 8px;
}

.textb2{
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.bucket{
    display:ruby;
    margin-right: -24%;
    padding: 1%;
}