/* Header.css */
.app-container {
    position: relative;
  }

.text{
    color:white;
}

.header-container{
    display:flex;
}

.language-container{
    border-radius: 1px;
    line-height: 1.25rem;
    margin-left: 100;
    margin-right: 5px
}
