.pT {
    font-size: x-large;
    font-weight: 400;
}
h3,.h3{
    font-size: xx-small;
}

.getStarted{
    place-content: center;
    display: inline-flex;
    width: -webkit-fill-available;
}

.app-container{
    display: flex;
    flex-direction: column;
}

.background-container {
    background-image: linear-gradient(890deg, black, transparent), url("https://assets.nflxext.com/ffe/siteui/vlv3/c7f07b68-7989-4ff7-a31e-11c17dcc2fea/5cc79a46-0ee9-43ce-8431-6f4e020c4907/CA-en-20240422-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  .adsPlanBanner{
    background-color: black;
  }