.tvWrapper{
    display: inline-flex;
    place-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.tvText{
    text-align: center;
    padding: 11%;
    flex: 1;
    min-width: 300px;
}

.tvMp4{
    width:100%;
    padding: 2%;
    flex: 1; 
    min-width: 300px;
}

h2{
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    color: white;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0;
    color: white;
}

.imageWrapper{
    position:absolute;
    width: 37%;
}

.animation{
    bottom: 135px;
    right: 190px;
}

.desktopImg{
    width: 100%;
}

@media (max-width: 768px) {
    .tvWrapper {
        flex-direction: column; /* Stacks items vertically */
        align-items: center; /* Centers items */
    }

    .tvText, .tvMp4 {
        width: 100%; /* Full width for both elements */
        padding: 5%; /* Adjust padding for better spacing */
    }

    .imageWrapper {
        position: relative; /* Adjust position for stacking */
        width: 100%;
    }

    .animation {
        bottom: auto;
        right: auto;
        width: 100%; /* Adjust width for smaller screens */
        text-align: center;
    }

    .animation video {
        width: 100%; /* Adjust video width for smaller screens */
    }
}